numpy
Cython
h5py
pyyaml
Pillow
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
flake8
yapf
isort
terminaltables
scikit-learn
pytorchcv
terminaltables
torch-lr-finder==0.2.1
onnx
torchvision==0.11.*
torch==1.10.*
optuna
timm
addict
randaugment
ptflops
