numpy
Cython
Pillow
six
scipy
opencv-python
matplotlib
tb-nightly
future
yacs
gdown
scikit-learn
terminaltables
pytorchcv
torch-lr-finder==0.2.1
onnx
torchvision==0.9.*
torch==1.8.*
optuna
timm
addict
randaugment
ptflops
nncf@ git+https://github.com/openvinotoolkit/nncf@464244204fc2c5e80c8164c17d8d266ccae50062#egg=nncf
